.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Contact {
  width: 350px;
  border-bottom: 2px solid #dadce0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  /* border-left: 2px solid black;
  border-right: 2px solid black; */
  /* overflow: scroll; */

}
.Contact-container {
  overflow: scroll;
  border: 2px solid black;
  height: 500px;
}


img {
  border-radius: 50%;
  border: 2px solid black;
}
a {
  text-decoration: none;
  color: black;
}


/* .Header {
  border-bottom: 2px solid black;
} */
/* .contact > div {  
  border: 2px solid pink;
} */